---
import Layout from "../layouts/Layout.astro";
import Atributos from "../components/Atributos.astro";
import Interior from "../components/Interior.astro";
import Exterior from "../components/Exterior.astro";
import Swiper from "../components/Swiper.astro";
import ColoresExterior from "../components/ColoresExterior.astro";
import ColoresInterior from "../components/ColoresInterior.astro";
import Equipamiento from "../components/Equipamiento.astro";
import Seguridad from "../components/Seguridad.astro";
---

<Layout title="GAC Aion Y">
  <main class="mx-auto max-w-screen-xl px-4 poppins-regular">
    <section class="grid grid-cols-3 my-16 gap-16">
      <div>
        <img src="/img/sobre.png" alt="foto" />
      </div>
      <div class="col-span-2">
        <h1 class="poppins-bold uppercase text-6xl">Sobre el GAC Aion Y</h1>
        <p class="my-8">
          El GAC Aion Y es un SUV 100% eléctrico que destaca por su diseño
          futurista y su enfoque en la movilidad sostenible. Este modelo
          compacto ofrece tecnología avanzada y una conducción segura y
          eficiente, con una autonomía de hasta 490 km, ideal tanto para la
          ciudad como para viajes largos.
        </p>
        <p class="my-8">
          Además, el GAC Aion Y se distingue por su amplio espacio interior y
          comodidad. Incluye características tecnológicas de punta, como una
          batería segura, cuatro modos de conducción, aparcamiento panorámico
          360 HD, techo panorámico, y una pantalla touch de 14,6” con sistema de
          infoentretenimiento.
        </p>
      </div>
    </section>

    <Atributos />

    <Interior />

    <Exterior />

    <ColoresExterior />

    <ColoresInterior />

    <Equipamiento />

    <Seguridad />

    <section
      class="grid grid-cols-7 my-20 bg-[url('/img/fondo-cta.jpg')] bg-contain bg-no-repeat aspect-[1440/500]"
    >
      <div class="col-span-4"></div>
      <div
        class="col-span-3 flex flex-col items-center justify-center gap-4 py-8"
      >
        <img src="/img/logo-modelo.svg" alt="All New Aion Y" />
        <div>
          <p class="poppins-medium text-lg">Precio desde:</p>
          <p class="poppins-extrabold uppercase text-3xl">$ 29.990.000</p>
        </div>
        <a
          href="http://gacmotor.cl/content/uploads/ft-aion-y.pdf"
          class="block border border-neutral-400 rounded-full px-8 py-2 uppercase poppins-medium"
          >Descargar ficha técnica</a
        >
        <a
          href="#"
          class="block bg-rojo text-white rounded-full px-8 py-2 uppercase poppins-medium"
          >Cotizar</a
        >
      </div>
    </section>
  </main>
  <Swiper />
</Layout>
